.vscode/settings.json
**/__pycache__
*.pyc
.DS_Store
data/import/email/**
!data/import/email/README.md
!data/import/email/email.business/.example
!data/import/email/email.personal/.example
dags/importer_latest*
dags/trainer_latest*
dask-worker-space